# EM LATAM Credit 5Y CDS Basis Trading Strategy

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
# -------------------- Fetch 5Y UST Gov Bond Yield, 5Y Gov Bond Yield and 5Y CDS Spreads of LATAM Countries --------------------

us_5y_gov = pd.read_csv(r"C:\Users\Mathi\Documents\us_5yr_govt.csv")
mx_5y_cds = pd.read_csv(r"C:\Users\Mathi\Documents\mexico_5y_cds.csv")
br_5y_cds = pd.read_csv(r"C:\Users\Mathi\Documents\brazil_5yr_cds.csv")
ar_5y_cds = pd.read_csv(r"C:\Users\Mathi\Documents\argentina_5y_cds.csv")
cl_5y_cds = pd.read_csv(r"C:\Users\Mathi\Documents\chile_5y_cds.csv")

In [4]:
mx_5y_gov = pd.read_csv(r"C:\Users\Mathi\Documents\mexico_5y_gov.csv")
br_5y_gov = pd.read_csv(r"C:\Users\Mathi\Documents\brazil_5y_gov.csv")
ar_5y_gov = pd.read_csv(r"C:\Users\Mathi\Documents\arg_5y_gov.csv")
cl_5y_gov = pd.read_csv(r"C:\Users\Mathi\Documents\chile_5y_gov.csv")

In [5]:
def set_datetime(raw_df):
    raw_df['Date'] = pd.to_datetime(raw_df['Date'])
    raw_df = raw_df.set_index('Date')
    return raw_df

In [6]:
def merge_data(raw_df, cds_data, us_data):
    raw_df = pd.merge(raw_df, cds_data, on='Date').merge(us_data, on='Date')
    return raw_df

In [7]:
def backtest_strategy(country_df, window=60, z_threshold=2, initial_capital=1000000, position_ratio=0.1):
    
    # Calculate Bond Spread
    country_df['Bond_Spread'] = country_df['YLD_YTM_MID'] - country_df['Risk_Free_Rate']
    
    # Calcculate CDS basis
    country_df['CDS_Basis'] = country_df['CDS_Spread'] - country_df['Bond_Spread']
    
    # Compute rolling z-score to detect extreme deviations
    mean_basis = country_df['CDS_Basis'].rolling(window).mean()
    std_basis = country_df['CDS_Basis'].rolling(window).std()
    country_df['Z_Score'] = (country_df['CDS_Basis'] - mean_basis) / std_basis
    
    # Define trading signals
    z_threshold = 2  # Adjust based on backtesting
    country_df['Signal'] = np.where(country_df['Z_Score'] < -z_threshold, 1,  # Long basis trade
                          np.where(country_df['Z_Score'] > z_threshold, -1, 0))  # Short basis trade
    
    # Simple P&L simulation (assuming daily returns)
    capital = initial_capital  # Initial capital
    position_size = capital * position_ratio  # 10% of capital per trade by default
    country_df['PnL'] = country_df['Signal'].shift(1) * (country_df['CDS_Basis'].diff()) * position_size
    
    # Cumulative PnL
    country_df['Cumulative_PnL'] = country_df['PnL'].cumsum()
    
    return country_df

In [8]:
def output_results(raw_df):
    # Output results
    return raw_df[['CDS_Basis', 'Z_Score', 'Signal', 'Cumulative_PnL']].dropna().tail()

In [9]:
us_5y = set_datetime(us_5y_gov)

In [10]:
mxn_5y_cds = set_datetime(mx_5y_cds)
brl_5y_cds = set_datetime(br_5y_cds)
arg_5y_cds = set_datetime(ar_5y_cds)
cl_5y_cds = set_datetime(cl_5y_cds)

In [11]:
mexico = set_datetime(mx_5y_gov)
brazil = set_datetime(br_5y_gov)
argentina = set_datetime(ar_5y_gov)
chile = set_datetime(cl_5y_gov)

In [12]:
mexico_df = merge_data(mexico, mxn_5y_cds, us_5y)
brazil_df = merge_data(brazil, brl_5y_cds, us_5y)
argentina_df = merge_data(argentina, arg_5y_cds, us_5y)
chile_df = merge_data(chile, cl_5y_cds, us_5y)

## Mexico

In [13]:
backtest_strategy(mexico_df)

,YLD_YTM_MID,CDS_Spread,Risk_Free_Rate,Bond_Spread,CDS_Basis,Z_Score,Signal,PnL,Cumulative_PnL
Date,,,,,,,,,
2023-03-31,4.992,119.885,3.5733,1.4187,118.4663,NaN,0,NaN,NaN
2023-03-04,4.876,117.348,3.5011,1.3749,115.9731,NaN,0,-0.0,0.0
2023-04-04,4.836,118.996,3.3881,1.4479,117.5481,NaN,0,0.0,0.0
2023-05-04,4.758,122.915,3.3709,1.3871,121.5279,NaN,0,0.0,0.0
2023-06-04,4.788,124.247,3.3755,1.4125,122.8345,NaN,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2025-03-26,5.526,132.670,4.0984,1.4276,131.2424,1.239405,0,0.0,123810.0
2025-03-27,5.526,133.159,4.0872,1.4388,131.7202,1.409002,0,0.0,123810.0
2025-03-28,5.477,136.074,3.9791,1.4979,134.5761,2.055642,-1,0.0,123810.0
2025-03-31,5.454,135.516,3.9496,1.5044,134.0116,1.993639,0,56450.0,180260.0
2025-01-04,5.396,135.130,3.9252,1.4708,133.6592,1.893020,0,-0.0,180260.0

In [14]:
mexico = backtest_strategy(mexico_df)
output_results(mexico)

            CDS_Basis   Z_Score  Signal  Cumulative_PnL
Date
2025-03-26   131.2424  1.239405       0        123810.0
2025-03-27   131.7202  1.409002       0        123810.0
2025-03-28   134.5761  2.055642      -1        123810.0
2025-03-31   134.0116  1.993639       0        180260.0
2025-01-04   133.6592  1.893020       0        180260.0

## Brazil

In [15]:
backtest_strategy(brazil_df)

,YLD_YTM_MID,CDS_Spread,Risk_Free_Rate,Bond_Spread,CDS_Basis,Z_Score,Signal,PnL,Cumulative_PnL
Date,,,,,,,,,
2023-03-31,5.635,228.786,3.5733,2.0617,226.7243,NaN,0,NaN,NaN
2023-03-04,5.569,224.172,3.5011,2.0679,222.1041,NaN,0,-0.0,0.0
2023-04-04,5.507,225.729,3.3881,2.1189,223.6101,NaN,0,0.0,0.0
2023-05-04,5.531,230.219,3.3709,2.1601,228.0589,NaN,0,0.0,0.0
2023-06-04,5.562,233.371,3.3755,2.1865,231.1845,NaN,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2025-03-26,5.606,183.074,4.0984,1.5076,181.5664,0.367297,0,0.0,1185610.0
2025-03-27,5.610,184.197,4.0872,1.5228,182.6742,0.582999,0,0.0,1185610.0
2025-03-28,5.564,186.913,3.9791,1.5849,185.3281,0.975312,0,0.0,1185610.0
2025-03-31,5.527,186.544,3.9496,1.5774,184.9666,0.967439,0,-0.0,1185610.0
2025-01-04,5.465,185.113,3.9252,1.5398,183.5732,0.815626,0,-0.0,1185610.0

In [16]:
brazil = backtest_strategy(brazil_df)
output_results(brazil)

            CDS_Basis   Z_Score  Signal  Cumulative_PnL
Date
2025-03-26   181.5664  0.367297       0       1185610.0
2025-03-27   182.6742  0.582999       0       1185610.0
2025-03-28   185.3281  0.975312       0       1185610.0
2025-03-31   184.9666  0.967439       0       1185610.0
2025-01-04   183.5732  0.815626       0       1185610.0

## Argentina

In [17]:
backtest_strategy(argentina_df)

,YLD_YTM_MID,CDS_Spread,Risk_Free_Rate,Bond_Spread,CDS_Basis,Z_Score,Signal,PnL,Cumulative_PnL
Date,,,,,,,,,
2023-03-31,19.837,228.786,3.5733,16.2637,212.5223,NaN,0,NaN,NaN
2023-03-04,19.692,224.172,3.5011,16.1909,207.9811,NaN,0,-0.0,0.0
2023-04-04,20.141,225.729,3.3881,16.7529,208.9761,NaN,0,0.0,0.0
2023-05-04,20.650,230.219,3.3709,17.2791,212.9399,NaN,0,0.0,0.0
2023-06-04,20.906,233.371,3.3755,17.5305,215.8405,NaN,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2025-03-26,7.298,183.074,4.0984,3.1996,179.8744,0.120145,0,0.0,1923240.0
2025-03-27,7.239,184.197,4.0872,3.1518,181.0452,0.286665,0,0.0,1923240.0
2025-03-28,7.457,186.913,3.9791,3.4779,183.4351,0.615125,0,0.0,1923240.0
2025-03-31,7.552,186.544,3.9496,3.6024,182.9416,0.671419,0,-0.0,1923240.0
2025-01-04,7.497,185.113,3.9252,3.5718,181.5412,0.589362,0,-0.0,1923240.0

In [18]:
argentina = backtest_strategy(argentina_df)
output_results(argentina)

            CDS_Basis   Z_Score  Signal  Cumulative_PnL
Date
2025-03-26   179.8744  0.120145       0       1923240.0
2025-03-27   181.0452  0.286665       0       1923240.0
2025-03-28   183.4351  0.615125       0       1923240.0
2025-03-31   182.9416  0.671419       0       1923240.0
2025-01-04   181.5412  0.589362       0       1923240.0

## Chile

In [19]:
backtest_strategy(chile_df)

,YLD_YTM_MID,CDS_Spread,Risk_Free_Rate,Bond_Spread,CDS_Basis,Z_Score,Signal,PnL,Cumulative_PnL
Date,,,,,,,,,
2023-03-31,5.189,104.242,3.5733,1.6157,102.6263,NaN,0,NaN,NaN
2023-03-04,5.117,103.754,3.5011,1.6159,102.1381,NaN,0,-0.0,0.0
2023-04-04,5.103,105.553,3.3881,1.7149,103.8381,NaN,0,0.0,0.0
2023-05-04,5.053,109.822,3.3709,1.6821,108.1399,NaN,0,0.0,0.0
2023-06-04,5.040,110.392,3.3755,1.6645,108.7275,NaN,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2025-03-26,5.843,59.320,4.0984,1.7446,57.5754,0.220721,0,0.0,525000.0
2025-03-27,5.878,59.113,4.0872,1.7908,57.3222,0.166863,0,-0.0,525000.0
2025-03-28,5.827,60.461,3.9791,1.8479,58.6131,0.570506,0,0.0,525000.0
2025-03-31,5.788,60.342,3.9496,1.8384,58.5036,0.553419,0,-0.0,525000.0
2025-01-04,5.717,59.795,3.9252,1.7918,58.0032,0.420369,0,-0.0,525000.0

In [23]:
chile = backtest_strategy(chile_df)
output_results(chile)

            CDS_Basis   Z_Score  Signal  Cumulative_PnL
Date
2025-03-26    57.5754  0.220721       0        525000.0
2025-03-27    57.3222  0.166863       0        525000.0
2025-03-28    58.6131  0.570506       0        525000.0
2025-03-31    58.5036  0.553419       0        525000.0
2025-01-04    58.0032  0.420369       0        525000.0